@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Grey-500: hsl(234, 12%, 34%);
$Grey-400: hsl(212, 6%, 44%);
$White: hsl(0, 0%, 100%);
$Responsive-Width: 992px;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    .container{
        width: 100%;
        padding: 3rem 1rem;
        @media (min-width: $Responsive-Width) {
            width: 900px;
            padding: 0;

        }
        .intro-container{
            max-width: 100%;
            margin: auto;
            text-align: center;
            @media (min-width: $Responsive-Width) {
                max-width: 400px;
                
            }
             h2, h3{
                font-size: 1.5rem;

             }


            h3{
                font-weight: 200;

            }
            h2{
                font-weight: 600;
                color: $Grey-500;

            }
            p{
                font-size: 13px;
                margin: 0.8rem 0;

            }

        }
        .card-container{
            display: flex;
            flex-wrap: wrap;
            gap: 1.3rem;
            justify-content: center;
            margin: 2rem 0;

            .card{
                flex-basis: 100%;
                border-top: 3px solid transparent;
                box-shadow: 0 4px 8px #c7c4c4;
                border-radius: 5px;
                padding: 1rem;
                @media (min-width: $Responsive-Width) {
                    flex-basis: 30%;
                    &:nth-child(1), &:nth-child(4){
                    transform: translateY(50%);
                }
                    
                }

              
                &:nth-child(1){
                    border-top-color: $Cyan;

                }
                 &:nth-child(2){
                    border-top-color: $Red;
                    
                }
                 &:nth-child(3){
                    order:2;
                    border-top-color: $Orange;
                    
                }
                 &:nth-child(4){
                    order: 1;
                    border-top-color: $Blue;
                    
                }
                .content{
                    h4{
                        color: $Grey-500;

                    }
                    p{
                        font-size: 12px;
                        color: $Grey-400;
                        margin: 0.5rem 0;

                    }

                }
                .img-container{
                    display: flex;
                    justify-content: flex-end;
                    margin: 0.8rem 0;
                    img{
                        width: 45px;

                    }

                }
            }

        }

    }
}
