@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



$Blue-500: hsl(215, 51%, 70%);
$Cyan-400: hsl(178, 100%, 50%);
$Blue-950: hsl(217, 54%, 11%);
$Blue-900: hsl(216, 50%, 16%);
$Blue-800: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p{
    font-size: 13px;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: $Blue-950;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        max-width: 230px;
        height: 400px;
        background-color: $Blue-900;
        padding: 1rem;
        border-radius: 10px ;
        .img-container{
            height: 55%;
            position: relative;
            &:hover{
                .view-img{
                    display: block;
                }
                 &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: $Cyan-400;
                    opacity: 0.5;
                    position: absolute;
                    border-radius: 8px;
                
                }
           
            }
            .equ{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;

            }
            .view-img{
                position: absolute;
                inset: 0;
                margin: auto;
                width: 30px;
                height: auto;
                display: none;

            }

        }
        .content-container{
            margin-top: 0.8rem;

            h3{
                color: $White;
                font-size: 16px;
                font-weight: 600;

            }
            p{
                color: $Blue-500;
                margin: 0.8rem 0;

            }

        }
        .eth-time-container{
            display: flex;
            justify-content: space-between;
        
            .eth,
            .time {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                p{
                    font-size: 12px;
                }
               
            } 

            .eth{
                
                img{
                    width: 9px;

                }
                p{
                    color: $Cyan-400;
                    font-weight: 600;

                }
                
            }
            .time{
                img{
                    width: 12px;
                }
                p{
                    color: $Blue-500;
                }
            }

        }
        hr{
            margin: 1rem 0 0.8rem;
            border-color: hsl(215, 19%, 61%);
            border-bottom: none;

        }
        .card-footer{
            display: flex;
            align-items: center;
            gap: 0.6rem;
            img{
                width: 25px;
                height: 25px;
                outline: 1.5px solid $White;
                border-radius: 50%;

            }
            p{
                color: $Blue-500;
                span{
                    color: $White;

                }
            }

        }

    }

}
