@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Purple-700: hsl(257, 40%, 49%);
$Magenta-400: hsl(300, 69%, 71%);
$White: #fff;
$Responsive-Width: 992px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hero-section{
        width: 100vw;
        min-height: 100vh;
        background-image: url("../images/bg-mobile.svg");
        background-color: $Purple-700;
        padding: 1.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-width: $Responsive-Width) {
        background-image: url("../images/bg-desktop.svg"); 
        padding: 1.5rem 3rem;
     
    }
        


    header{
        img{
            width: 150px;

        }
    }
    .container{
           display: flex;
           gap: 2rem;
           margin-top: 4rem;
           flex-direction: column;
           text-align: center;
           @media (min-width: $Responsive-Width) {
            flex-direction: row;
            text-align: left;
           }
        .left-side{
            flex-basis: 55%;
            img{
                width: 100%;
            }
        }
        .right-side{
            flex-basis: 45%;
            color: $White;
            .content{
                max-width: 100%;
                @media (min-width: $Responsive-Width) {
                    max-width: 84.5%;}
                h2{
                    margin-top: 2rem;
                    margin-bottom: 0.8rem;

                }
                p{
                    margin: 1.2rem 0 1rem;


                }
                button{
                    padding: 0.5rem 3rem;
                    border-radius: 30px;
                    color: $Purple-700;
                    border: none;
                    margin-top: 1rem;

                }
                
            }
           
        }
 

    }
    footer{
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 3rem;
        @media (min-width: $Responsive-Width) {
         justify-content: flex-end;}
        a{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $White;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $White;
            text-decoration: none;
            i{

            }
        }
    }
}